/lab2/nbproject/private/
/lab2/build/
/lab3/nbproject/private/
/lab3/build/
/lab4/nbproject/private/
/lab4/build/
/lab5/build/
/lab6/nbproject/private/
/lab6/build/
/lab6/dist/
/lab7/nbproject/private/
/lab7/build/
/mock/nbproject/private/
/mock/build/
/mock_few/nbproject/private/
/mock_few/build/
/exam/nbproject/private/
/lab8/nbproject/private/
/lab8/build/
/lab8/dist/
